<div class="section" id="About" >
    <div class="sec_wrapper">
        <header class="sec_header">
            <h1>About Me</h1>
            <p class='sub_header'>I'm a full stack developer from Orlando, Fl</p>
            <div class="about_me">
                <p>
                    Computer programming is my main focus now and days and I'm continuing to grow and expand my knowledge by building cool and exciting stuff every day. I started out as a self-taught developer learning HTML, CSS, and javascript when I graduated high school. To further push myself and jump in the water I took a 6-month developer Bootcamp course from UCF. After completing the course I felt like my programming ability had no limits towards the thing that I create. I love to learn new things and I'm very good a breaking thing, just as much as I am fixing them.
                </p>
                <button>
                    <a href="mailto:kyle.shrote@gmail.com">
                        Let's build something cool
                    </a>
                </button>
                <ul>
                    <li><a href="mailto:kyle.shrote@gmail.com" target="_blank" class="gmail"><img class="icon" src='/images/icons/gmail.svg' alt="gmail" /></a></li>
                    <li><a href="https://github.com/kyl3thegreat" target="_blank" class="github"><img class="icon" src='/images/icons/github.svg' alt="github" /></a></li>
                    <li><a href="https://github.com/kyl3thegreat" target="_blank" class="linkedin"><img class="icon" src='/images/icons/linkedin.svg' alt="linkedin" /></a></li>
                    <li><a href="https://www.instagram.com/kyl_3/?hl=en" target="_blank" class="instagram"><img class="icon" src='/images/icons/instagram.svg' alt="instagram" /></a></li>
                </ul>
            </div>
        </header>
        <div class="sec_content">
            <!-- <div class="profile-img"><img class="profile" src="/images/profile/profile_nobg.png"></div> -->
        </div>
    </div>
</div>


	

