<div class="section" id="About" >
    <div class="sec_wrapper">
        <div class="sec_content">
            <div class="profile-img"></div>
            <header class="sec_header">
                <h1>About Me</h1>
                <p class='sub_header'>I'm a full stack developer from Orlando, Fl</p>
                <div class="about_me">
                    <p>
                        Computer programming is my main focus now and days and Im continuing to grow and expand my knowlegde by building cool and exciting stuff everyday. I started out as a selft taught developer learning html, css, and javascript when I graduated high school. To further push myself and jump in the water I took a 6 month developer bootcamp course from UCF. After completing the course I felt like my progromming ablility had no limits towards the thing that I create. I love to learn new things and I'm very good a breaking thing, just as much as I am fixing them.
                    </p>
                    <button>Let's build something cool</button>
                    <ul>
                        <li><a href="#" target="_blank" class="gmail"><img src='/images/icons/google.svg' alt="gmail" /></a></li>
                        <li><a href="#" target="_blank" class="github"><img src='/images/icons/github.svg' alt="github" /></a></li>
                        <li><a href="#" target="_blank" class="linkedin"><img src='/images/icons/linkedin.svg' alt="linkedin" /></a></li>
                        <li><a href="#" target="_blank" class="instagram"><img src='/images/icons/instagram.svg' alt="instagram" /></a></li>
                    </ul>
                </div>
            </header>
        </div>
    </div>
</div>