<div class="section" id="Intro" >
    <!-- <div class="solar-syst">
        <div class="asteroids-belt"></div>
    </div> -->
    <div class="sec_wrapper">
        <header class="sec_header">
            <div class="name-cont">
                KYLE SHROTE
            </div>
            <h1>Developer</h1>
            <h1>Designer</h1>
            <p class="sub_header">Driven by new creative ideas I make it my mission to deliver user friendly, responsive, ready to scale products.</p>
        </header>
    </div>   
</div>