<div class="section pp-scrollable" id="Skills" >
    <div class="sec_wrapper">
        <header class="sec_header">
            <h1><span>Diverse</span> Skill Set</h1>
            <p class="sub_header">You can't build something amazing if you don't know how too. As a full stack developer I have many skills and tools ready to be used, so the possablities are only limited by the creativity behind them.</p>
        </header>
        <div class="sec_content">
            <div class="skills"> 
                <div class="skill">
                    <h3>Core</h3>
                    <div class="skills-cont">
                       <img class="tile" src="/images/icons-color/html.svg" alt="Html">
                       <img class="tile" src="/images/icons-color/css.svg" alt="Css">
                       <img class="tile" src="/images/icons-color/javascript.svg" alt="Javascript">
                       <img class="tile" src="/images/icons-color/php.svg" alt="Php">
                       <img class="tile" src="/images/icons-color/wordpress.svg" alt="Wordpress">
                       <img class="tile" src="/images/icons-color/aws.svg" alt="Aws">
                       <img class="tile" src="/images/icons-color/webpack.svg" alt="Webpack">
                    </div>
                </div>  
                <div class="skill">
                    <h3>Database</h3>
                    <div class="skills-cont">
                        <img class="tile" src="/images/icons-color/mongodb.svg" alt="Mongodb">
                        <img class="tile" src="/images/icons-color/mysql.svg" alt="Mysql">
                    </div> 
                </div>  
                <div class="skill">
                    <h3>Libraries</h3>
                    <div class="skills-cont">
                        <img class="tile" src="/images/icons-color/jquery.svg" alt="Jquery">
                        <img class="tile" src="/images/icons-color/react.svg" alt="React">
                    </div>
                </div>
                <div class="skill">
                    <h3>Frameworks</h3>
                    <div class="skills-cont">
                        <img class="tile" src="/images/icons-color/node.svg" alt="Node">
                        <img class="tile" src="/images/icons-color/express.svg" alt="Express">
                        <img class="tile" src="/images/icons-color/sass.svg" alt="Sass">
                        <img class="tile" src="/images/icons-color/bootstrap.svg" alt="Bootstrap">
                        <img class="tile" src="/images/icons-color/materialize.svg" alt="Materialize">
                    </div> 
                </div>    
            </div>
        </div>   
    </div>
</div>