<div class="section pp-scrollable" id="Skills" >
    <div class="sec_wrapper">
        <div class="sec_content">
            <div class="skills"> 
                <div>
                    <div class="orbit-cont">
                        <div class="inner-orbit">
                            <div class="inner-orbit-icon icon icon-html"></div>
                            <div class="inner-orbit-icon icon icon-css"></div>
                        </div>
                        <div class="middle-orbit">
                            <div class="middle-orbit-icon icon icon-php"></div>
                            <div class="middle-orbit-icon icon icon-javascript"></div>
                        </div>
                    </div>
                    <div class="tiles-cont">
                        <img class="tile" src="/images/icons/html.svg" alt="Html">
                        <img class="tile" src="/images/icons/css.svg" alt="Css">
                        <img class="tile" src="/images/icons/javascript.svg" alt="Javascript">
                        <img class="tile" src="/images/icons/php.svg" alt="Php">
                    </div>
                    <h3>Languages</h3>
                    <ul>
                        <li>html / html 5</li>
                        <li>css / css3</li>
                        <li>javascript / es6</li>
                        <li>php</li>
                    </ul> 
                </div>  
                <div>
                    <div class="orbit-cont">
                        <div class="middle-2-orbit">
                            <div class="middle-2-orbit-icon icon-mongodb"></div>
                            <div class="middle-2-orbit-icon icon-mysql"></div>
                        </div>
                    </div>
                    <div class="tiles-cont">
                        <img class="tile" src="/images/icons/mongodb.svg" alt="Mongodb">
                        <img class="tile" src="/images/icons/mysql.svg" alt="Mysql">
                    </div>
                    <h3>Database</h3>
                    <ul>
                        <li>mongodb</li>
                        <li>mysql</li>
                    </ul> 
                </div>  
                <div>
                    <div class="orbit-cont">
                        <div class="middle-2-orbit br">
                            <div class="middle-2-orbit-icon icon-jquery"></div>
                            <div class="middle-2-orbit-icon icon-react"></div>
                        </div>
                    </div>
                    <div class="tiles-cont">
                        <img class="tile" src="/images/icons/jquery.svg" alt="Jquery">
                        <img class="tile" src="/images/icons/react.svg" alt="React">
                    </div>
                    <h3>Libraries</h3>
                    <ul>
                        <li>jquery</li>
                        <li>react</li>
                    </ul> 
                </div>
                <div>
                    <div class="orbit-cont">
                        <div class="inner-orbit bl">
                            <div class="inner-orbit-icon icon icon-node"></div>
                            <div class="inner-orbit-icon icon icon-express"></div>
                        </div>
                        <div class="outer-orbit">
                            <div class="outer-orbit-icon icon icon-bootstrap"></div>
                            <div class="outer-orbit-icon icon icon-sass"></div>
                            <div class="outer-orbit-icon icon icon-materialize"></div>
                        </div>
                    </div>
                    <div class="tiles-cont">
                        <img class="tile" src="/images/icons/node.svg" alt="Node">
                        <img class="tile" src="/images/icons/express.svg" alt="Express">
                        <img class="tile" src="/images/icons/sass.svg" alt="Sass">
                        <img class="tile" src="/images/icons/bootstrap.svg" alt="Bootstrap">
                        <img class="tile" src="/images/icons/materialize.svg" alt="Materialize">
                    </div>
                    <h3>Frameworks</h3>
                    <ul>
                        <li>node.js</li>
                        <li>express.js</li>
                        <li>sass</li>
                        <li>bootstrap</li>
                        <li>materialize</li>
                    </ul> 
                </div>    
            </div>
        </div> 
        <header class="sec_header">
            <h1><span>Keeping a Diverse</span> Skill Set</h1>
            <p class="sub_header">You can't build something amazing if you don't know how too. As a full stack developer I have many skills and tools ready to be used, so the possablities are only limited by the creativity behind them.</p>
        </header>  
    </div>
</div>