<div class="section pp-scrollable" id="Work" >
    <div class="sec_wrapper">
        <header class="sec_header">
            <h1><span>Show</span> and <span>Tell</span></h1>
            <p class="sub_header">Knowing the goal and focususing on what's important to the user is essential to creating any site. I make it a priority for every site to have a unified style surrounding it, and a user friendly eperience.</p>
        </header>
        <div class="sec_content">
            <div class="portfolio_work">
                <section class="cards">
                        <article class="card">
                            <div class="card__img" style="background-image: url('https://s3.amazonaws.com/kyleshrote/2018-08-11T23%3A47%3A48.880ZSketch.png')">
                            </div>
                            <a href='https://moviesandshows.herokuapp.com/' class="card_link">
                                <div class="card__img--hover" style="background-image: url('https://s3.amazonaws.com/kyleshrote/2018-08-11T23%3A47%3A48.880ZSketch.png')" ></div>
                            </a>
                            <div class="card__info">
                                <h3 class="card__title">Project One</h3>
                                <a href="https://moviesandshows.herokuapp.com/" target="_blank"><img src='/images/icons/github.svg' alt="github" /></a>
                                <a href='https://moviesandshows.herokuapp.com/' target="_blank"><img src='/images/icons/googlechrome.svg' alt="google" /></a>
                                <span class="card__description">Project description</span>
                            </div>
                        </article>  
                </section>
            </div>
        </div>
    </div>
</div>