<div class="section pp-scrollable" id="Work" >
    <div class="sec_wrapper">
        <header class="sec_header">
            <h1><span>Show</span> and <span>Tell</span></h1>
            <p class="sub_header">Knowing the goal and focususing on what's important to the user is essential to creating any site. I make it a priority for every site to have a unified style surrounding it, and a user friendly eperience.</p>
        </header>
        <div class="sec_content">
            <div class="portfolio_work">
                <section class="cards">
                    <article class="card">
                        <div class="card__img" style="background-image: url('/images/bslive.png')">
                        </div>
                        <a href='http://bootstraps.live' target="_blank" class="card_link">
                            <div class="card__img--hover" style="background-image: url('/images/bslive.png')" ></div>
                        </a>
                        <div class="card__info">
                            <h3 class="card__title">Bootstraps Live</h3>
                            <a href='http://bootstraps.live' target="_blank"><img class="icon" src='/images/icons/googlechrome.svg' alt="google" /></a>
                            <span class="card__description">Bootstraps Live is a 360° video show every Thursday at 3 pm EST. Join a casual discussion with startup founders about their experiences, so we can all learn and succeed!</span>
                        </div>
                    </article>
                    <article class="card">
                        <div class="card__img" style="background-image: url('https://s3.amazonaws.com/kyleshrote/2018-08-12T00%3A00%3A43.102Zkeywordly.png')">
                        </div>
                        <a href='https://keywordly.herokuapp.com/landing' target="_blank" class="card_link">
                            <div class="card__img--hover" style="background-image: url('https://s3.amazonaws.com/kyleshrote/2018-08-12T00%3A00%3A43.102Zkeywordly.png')" ></div>
                        </a>
                        <div class="card__info">
                            <h3 class="card__title">Keywordly</h3>
                            <a href="https://github.com/kyl3thegreat/keywordly" target="_blank"><img class="icon" src='/images/icons/github.svg' alt="github" /></a>
                            <a href='https://keywordly.herokuapp.com/landing' target="_blank"><img class="icon" src='/images/icons/googlechrome.svg' alt="google" /></a>
                            <span class="card__description">Web app that allows marketers to perform keyword research with just a few clicks, eliminating the need for tedious spreadsheets</span>
                        </div>
                    </article> 
                    <article class="card">
                        <div class="card__img" style="background-image: url('https://s3.amazonaws.com/kyleshrote/2018-08-11T23%3A47%3A48.880ZSketch.png')">
                        </div>
                        <a href='https://moviesandshows.herokuapp.com/' target="_blank" class="card_link">
                            <div class="card__img--hover" style="background-image: url('https://s3.amazonaws.com/kyleshrote/2018-08-11T23%3A47%3A48.880ZSketch.png')" ></div>
                        </a>
                        <div class="card__info">
                            <h3 class="card__title">Movies & Shows</h3>
                            <a href='https://moviesandshows.herokuapp.com/' target="_blank"><img class="icon" src='/images/icons/googlechrome.svg' alt="google" /></a>
                            <span class="card__description">An online database of information related to world films, and television programs</span>
                        </div>
                    </article>  
                    <article class="card">
                        <div class="card__img" style="background-image: url('https://s3.amazonaws.com/kyleshrote/2018-08-11T23%3A56%3A11.227ZSketch.png')">
                        </div>
                        <a href='https://aalkowni90.github.io/Orlandoeats/' target="_blank" class="card_link">
                            <div class="card__img--hover" style="background-image: url('https://s3.amazonaws.com/kyleshrote/2018-08-11T23%3A56%3A11.227ZSketch.png')" ></div>
                        </a>
                        <div class="card__info">
                            <h3 class="card__title">Orlando Eats</h3>
                            <a href="https://github.com/kyl3thegreat/Orlandoeats" target="_blank"><img class="icon" src='/images/icons/github.svg' alt="github" /></a>
                            <a href='https://aalkowni90.github.io/Orlandoeats/' target="_blank"><img class="icon" src='/images/icons/googlechrome.svg' alt="google" /></a>
                            <span class="card__description">Application for finding dining options in the orlando area. Gives users dining categories to choose from. Allows users to create an account and save favorites</span>
                        </div>
                    </article> 
                    <article class="card">
                        <div class="card__img" style="background-image: url('https://s3.amazonaws.com/kyleshrote/2018-08-11T23%3A58%3A36.844ZSketch.png')">
                        </div>
                        <a href='https://github.com/kyl3thegreat/gumbo' target="_blank" class="card_link">
                            <div class="card__img--hover" style="background-image: url('https://s3.amazonaws.com/kyleshrote/2018-08-11T23%3A58%3A36.844ZSketch.png')" ></div>
                        </a>
                        <div class="card__info">
                            <h3 class="card__title">Gumbo</h3>
                            <a href="https://github.com/kyl3thegreat/gumbo" target="_blank"><img class="icon" src='/images/icons/github.svg' alt="github" /></a>
                            <span class="card__description">Mobile app that helps people get out of their comfort zone and  build meaningful connections with others in their area</span>
                        </div>
                    </article>         
                </section>
            </div>
        </div>
    </div>
</div>