<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->
    <title>Kyle Shrote</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.pagepiling.css">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
    <base href="/">
  </head>
  <body>
    <div id="pagepiling">
      <% include sections/_intro %>
      <% include sections/_work %>
      <% include sections/_skills %>
      <% include sections/_about %>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/javascripts/jquery.pagepiling.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
