@media (min-width: 350px)
    #Intro
        .sec_wrapper
            .sec_header
            h1 
                font-size: 3em !important
                line-height: 70px !important
    #Skills .sec_wrapper 
        .sec_content 
            .tile-cont-mobile
                left: -35px !important
                transform: scale(1.2) rotate(-10deg) !important
@media (min-width: 370px)
    #Intro
        .sec_wrapper
            .sec_header
            h1 
                font-size: 3.2em !important
                line-height: 75px !important
    #Skills .sec_wrapper 
        .sec_content 
            .tile-cont-mobile
                left: -25px !important
@media (min-width: 390px)
    #Intro
        .sec_wrapper
            .sec_header
            h1 
                font-size: 3.6em !important
                line-height: 80px !important
    #Skills .sec_wrapper 
        .sec_content 
            .tile-cont-mobile
                left: -20px !important
                transform: scale(1.4) rotate(-10deg) !important
@media (min-width: 410px)
    #Intro
        .sec_wrapper
            .sec_header
            h1 
                font-size: 4em !important
                line-height: 85px !important

    