
@import "queries"
@import "galaxy"


// TABLE OF CONTENTS
  // Global Styles
  // Intro Sytles
  // Work Sytles
  // Skills Sytles
  // About Sytles



// Global Styles
html, body
  overflow: hidden
  font-family: proxima-nova, sans-serif
  font-style: normal

.icon 
  width: 35px
.tile
  width: 85px
  height: 85px
.profile
  width: 200px
ul 
  list-style-type: none
  padding: 0

#Intro, #Work, #Skills, #About
  .sec_wrapper
    padding: 0 20px
    .sec_header
      h1 
        font-weight: 900
        text-transform: uppercase
        text-shadow: -5px 10px 11px rgba(0, 0, 0, .6)
        font-size: 2em
        letter-spacing: 10px
        text-shadow: 
        width: fit-content
      .sub_header
        line-height: 30px
        max-width: 350px


#Intro
  // background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%)
  // background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%)
  // background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(0,102,161,1) 0%, rgba(0,68,108,1) 90.1% )
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%)
  overflow: hidden;

#Work, #Skills 
  background-color: #F5F5F5 !important
  color: #000
  .sec_wrapper
    .sec_header
      h1, p
        text-align: center
        margin: 0 auto

#Work .sec_wrapper, #Skills .sec_wrapper
  .sec_header
    margin-top: 100px
    margin-bottom: 50px
  .sec_content
    margin-bottom: 200px
   
    


// Intro Styles
#Intro .sec_wrapper 
  .sec_header
    h1 
      text-shadow: -15px 20px 11px rgba(0, 0, 0, .6)
      font-size: 2.4em
      border-bottom: none
      color: #fff
      margin: 0
      line-height: 65px
      letter-spacing: 11px
    .sub_header
      font-size: 1.1em
      color: #fff
      line-height: 30px
      margin-bottom: 0
  .name-cont
    font-size: 1.1em
    color: #fff
    letter-spacing: 5px

  .sec_content 

// Work Styles
#Work .sec_wrapper 
  .sec_header
    margin-top: 100px
  .sec_content
    margin-bottom: 100px
    .portfolio_work
      .cards
        width: 100%
        display: flex
        display: -webkit-flex
        flex-wrap: wrap
        justify-content: center
        -webkit-justify-content: center 

    .card__img
        display: none
        visibility: hidden
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        width: 100%
        height: 155px
        border-top-left-radius: 8px
        border-top-right-radius: 8px

    .card__info-hover 
        position: absolute
        padding: 16px
        width: 100%
        opacity: 0
        top: 0

    .card__img--hover
        display: block
        transition: 0.2s all ease-out
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        width: 100%
        position: absolute
        height: 155px
        border-top-left-radius: 8px
        border-top-right-radius: 8px
        top: 0

    .card 
        margin-bottom: 25px
        transition: all .4s cubic-bezier(0.175, 0.885, 0, 1)
        background-color: #33363E
        width: 100%
        max-width: 380px
        position: relative
        border-radius: 8px
        overflow: hidden
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1)
        box-sizing: border-box

    .card:hover 
        box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1)
        transform: scale(1.05, 1.05)

    .card__info 
        z-index: 2
        background-color: #33363E
        border-bottom-left-radius: 8px
        border-bottom-right-radius: 8px
        height: fit-content
        max-width: 340px
        color: #ffffff
        padding: 10px 20px 20px 20px

    .card__info a 
        height: 20px
        width: 20px
        float: right
        margin: 5px 5px 0 5px

    .card__info a img 
        width: 20px
        height: 20px

    .card__description
        font-size: .9em
        font-weight: 500
        line-height: 18px
        color: #fff
        display: block
        margin-top: 5px

    .card__title 
        margin-top: 0
        margin-bottom: 0
        font-weight: 900
        font-size: 1.3em
        width: fit-content
        display: inline-block
        color: #fff

    .card .card__img--hover
        height: 100%
        opacity: 0.3

    .card .card__info 
        background-color: transparent
        position: relative

    .card .card__info-hover
        opacity: 1

// Skills Styles
#Skills .sec_wrapper 
  .sec_header
    margin-bottom: 100px
  .sec_content 
    .tile-cont-mobile
      position: relative
      top: 50px
      left: -60px
      transform: scale(1.1) rotate(-10deg)
      width: 400px
      text-align: center
    .skills
      display: flex
      justify-content: space-around
      flex-wrap: wrap
      margin-top: 75px
      .skill
        min-width: 270px
        max-width: 350px
        margin: 25px 30px 0 30px
        h3 
          letter-spacing: 3px
          font-weight: 600
          width: fit-content
          font-size: 1.4em
        .skills-cont
          display: flex
          justify-content: flex-start
          flex-wrap: wrap
          img 
            transition: all .4s cubic-bezier(0.175, 0.885, 0, 1)
            margin: 10px
            &:hover 
              box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1)
              transform: scale(1.05, 1.05)

// About Styles
#About 
  background-repeat: no-repeat
  background-size: 530px
  background-position: bottom right
  background-color: #f5f5f5
  .sec_wrapper
    height: 100%
    width: 100%
    .sec_header
      top: 50%
      transform: translateY(-50%)
      position: absolute
      z-index: 1
      color: #ffffff
      h1 
        margin-top: 0
        color: #000000
      .sub_header
        font-size: 1.5em
        font-weight: 900
        width: 280px
        color: #000000
      .about_me 
        max-width: 400px
        color: #000000
        p
          line-height: 35px
        button 
          background-color: #000
          font-size: 1.6em
          color: #ffffff
          padding: 6px 10px
          font-weight: 600
          border-radius: 4px
          transition: all .4s cubic-bezier(0.175, 0.885, 0, 1)
          border: none
          &:hover
            box-shadow: 0px 20px 18px -8px rgba(0, 0, 0,0.1)
          a 
            color: #ffffff
            &:visited
              color: inherit
        ul
          margin-top: 25px
          li 
            display: inline-block
            margin-right: 15px
            width: 25px
            img 
              width: 25px
              height: 25px


@-webkit-keyframes spin-right 
    100% 
      -webkit-transform: rotate(360deg)
      -moz-transform: rotate(360deg)
      -ms-transform: rotate(360deg)
      -o-transform: rotate(360deg)
      transform: rotate(360deg)
      
@-webkit-keyframes spin-left 
    100% 
      -webkit-transform: rotate(-360deg)
      -moz-transform: rotate(-360deg)
      -ms-transform: rotate(-360deg)
      -o-transform: rotate(-360deg)
      transform: rotate(-360deg)