#Intro {
  color: #fff;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  font-family: proxima-nova, sans-serif;
  font-style: normal; }
  #Intro .sec_wrapper {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 50%;
    transform: translateY(-50%); }
    #Intro .sec_wrapper .sec_header {
      position: absolute;
      width: 50%;
      top: 50%;
      left: 15%;
      transform: translateY(-50%);
      text-align: left; }
      #Intro .sec_wrapper .sec_header .sub_header {
        font-size: 1em;
        margin-top: 30px;
        letter-spacing: 2px;
        margin-bottom: 0;
        line-height: 35px;
        font-weight: 300;
        text-transform: uppercase;
        color: #ffffff; }
    #Intro .sec_wrapper .name-cont {
      letter-spacing: .2em;
      margin-bottom: 20px; }

#Intro .sec_wrapper h1 {
  margin: 0;
  font-size: 7em;
  line-height: 110px;
  letter-spacing: 15px;
  text-shadow: -5px 10px 11px rgba(0, 0, 0, 0.6);
  background-blend-mode: screen;
  -webkit-background-clip: text;
  text-indent: -5px; }

#Work .sec_wrapper .sec_header h1 {
  border-bottom: 3px solid;
  border-bottom-color: radial-gradient(circle farthest-corner at 10% 20%, #0066a1 0%, #00446c 90.1%);
  border-block-start-width: 1em;
  width: fit-content; }

#Work .sec_wrapper .sec_header .sub_header {
  width: 500px;
  line-height: 30px;
  margin-bottom: 50px; }

.cards {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center; }

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 145px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; }

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0; }

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 145px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  top: 0; }

.card {
  margin-right: 25px;
  margin-bottom: 25px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 380px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; }

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1); }

.card__info {
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 10px 20px 10px 20px;
  height: 90px;
  width: 340px;
  text-align: left; }

.card__info a {
  height: 20px;
  float: right;
  margin: 0 5px; }

.card__info a img {
  width: 20px;
  height: 20px; }

.card__description {
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #000;
  display: block; }

.card__title {
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 1.1em;
  border-bottom: 2px solid #000;
  width: fit-content;
  display: inline-block;
  color: #000; }

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3; }

.card:hover .card__info {
  background-color: transparent;
  position: relative; }

.card:hover .card__info-hover {
  opacity: 1; }

#Skills .sec_wrapper .sec_content .skills {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap; }
  #Skills .sec_wrapper .sec_content .skills div {
    text-align: center; }
  #Skills .sec_wrapper .sec_content .skills h3 {
    font-weight: 100;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 25px; }
  #Skills .sec_wrapper .sec_content .skills ul {
    list-style-type: none;
    padding: 0; }
    #Skills .sec_wrapper .sec_content .skills ul li {
      list-style-type: none;
      font-size: 1.2em;
      font-weight: 900;
      margin: 5px 0; }

#Skills .sec_wrapper .sec_header h1 {
  margin-top: 25px; }

.skills:first-child {
  width: 250px; }

.orbit-cont {
  position: relative;
  height: 250px;
  width: 250px; }

.icon-html {
  background-image: url("/images/icons/html.svg");
  top: 25px;
  left: -20px; }

.icon-css {
  background-image: url("/images/icons/css.svg");
  top: 25px;
  left: 60px; }

.icon-javascript {
  background-image: url("/images/icons/javascript.svg");
  top: -20px;
  left: 70px; }

.icon-php {
  background-image: url("/images/icons/php.svg");
  top: 160px;
  left: 70px; }

.icon-node {
  background-image: url("/images/icons/node.svg");
  top: 55px;
  left: 20px; }

.icon-express {
  background-image: url("/images/icons/express.svg");
  top: -20px;
  left: 20px; }

.icon-sass {
  background-image: url("/images/icons/sass.svg");
  top: -20px;
  left: 80px; }

.icon-bootstrap {
  background-image: url("/images/icons/bootstrap.svg");
  top: 85px;
  left: 180px; }

.icon-materialize {
  background-image: url("/images/icons/materialize.svg");
  top: 85px;
  left: -20px; }

.icon-mongodb {
  background-image: url("/images/icons/mongodb.svg");
  top: 120px;
  left: 55px;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  position: absolute; }

.icon-mysql {
  background-image: url("/images/icons/mysql.svg");
  top: -25px;
  left: 55px;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  position: absolute; }

.icon-jquery {
  background-image: url("/images/icons/jquery.svg");
  top: 120px;
  left: 55px;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  position: absolute; }

.icon-react {
  background-image: url("/images/icons/react.svg");
  top: -25px;
  left: 55px;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  position: absolute; }

.icon {
  position: absolute;
  height: 40px;
  width: 40px; }

.inner-orbit {
  position: absolute;
  top: 85px;
  left: 85px;
  width: 80px;
  height: 80px;
  border-top: 2px #000 solid;
  border-radius: 100%;
  -webkit-animation: spin-right 10s linear infinite;
  animation: spin-right 60s linear infinite; }

.bl {
  border-left: 2px #000 solid !important;
  border-top: none !important; }

.br {
  border-right: 2px #000 solid !important;
  border-left: none !important; }

.middle-orbit {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 180px;
  height: 180px;
  border-right: 1.5px #000 solid;
  border-radius: 100%;
  -webkit-animation: spin-left 15s linear infinite;
  animation: spin-left 35s linear infinite; }

.middle-2-orbit {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 150px;
  height: 150px;
  border-left: 2.5px #000 solid;
  border-radius: 100%;
  -webkit-animation: spin-left 15s linear infinite;
  animation: spin-left 15s linear infinite; }

.outer-orbit {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 200px;
  height: 200px;
  border-top: 2px #000 solid;
  border-bottom: 2px #000 solid;
  border-radius: 100%;
  -webkit-animation: spin-right 20s linear infinite;
  animation: spin-right 35s linear infinite; }

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

#About .sec_wrapper .sec_content .profile-img {
  width: 45vw;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  height: 100vh;
  display: inline-block;
  position: absolute;
  left: 0; }
  #About .sec_wrapper .sec_content .profile-img:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: 100;
    opacity: .3; }
  #About .sec_wrapper .sec_content .profile-img img {
    width: 100%;
    position: absolute;
    bottom: 0; }

#About .sec_wrapper .sec_content .sec_header {
  width: 55vw;
  height: 100vh;
  display: inline-block;
  position: absolute;
  left: 45%;
  text-align: left;
  padding-left: 65px; }
  #About .sec_wrapper .sec_content .sec_header h1 {
    margin-top: 125px; }
  #About .sec_wrapper .sec_content .sec_header .sub_header {
    font-size: 1.3em;
    color: lightgray;
    width: 260px;
    line-height: 30px;
    font-weight: 900; }
  #About .sec_wrapper .sec_content .sec_header .about_me {
    width: 400px; }
    #About .sec_wrapper .sec_content .sec_header .about_me p {
      line-height: 35px; }
    #About .sec_wrapper .sec_content .sec_header .about_me ul {
      padding: 0;
      list-style: none; }
    #About .sec_wrapper .sec_content .sec_header .about_me button {
      background: none;
      height: 40px;
      width: fit-content;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 3px solid #000;
      color: #000;
      text-transform: uppercase;
      font-size: .9em;
      font-weight: 900;
      transition: all .1s ease-in-out; }
      #About .sec_wrapper .sec_content .sec_header .about_me button:hover {
        border-bottom-width: 6px; }
    #About .sec_wrapper .sec_content .sec_header .about_me ul li {
      display: inline-block;
      margin: 10px; }
      #About .sec_wrapper .sec_content .sec_header .about_me ul li a img {
        width: 25px;
        height: 25px; }

#About .pp-tableCell {
  vertical-align: unset; }

@media (max-width: 960px) {
  #Intro .sec_wrapper .sec_header {
    width: 100%; }
    #Intro .sec_wrapper .sec_header .sub_header {
      max-width: 500px; }
  #Work .card {
    width: 330px; }
    #Work .card .card__info {
      width: 290px;
      position: relative;
      top: -40px;
      opacity: .85;
      height: 70px; }
  #About {
    color: #ffffff; }
    #About .sec_wrapper .sec_content .profile-img {
      display: block;
      width: 100vw; }
      #About .sec_wrapper .sec_content .profile-img img {
        position: absolute;
        bottom: -150px; }
    #About .sec_wrapper .sec_content .sec_header {
      display: block;
      width: 100vw;
      left: 0; }
      #About .sec_wrapper .sec_content .sec_header .about_me button {
        color: #ffffff;
        border-bottom-color: #ffffff; } }

@media (max-width: 820px) {
  #About .sec_wrapper .sec_content .profile-img img {
    bottom: -50px; } }

@media (max-width: 870px) {
  #Intro .sec_wrapper .sec_header {
    width: 100%; }
    #Intro .sec_wrapper .sec_header .sub_header {
      max-width: 500px; }
  #Work .sec_wrapper {
    padding: 0 !important; }
    #Work .sec_wrapper .sec_header {
      padding-left: 7%; }
    #Work .sec_wrapper .sec_content .card {
      width: 310px; }
      #Work .sec_wrapper .sec_content .card .card__info {
        width: 270px;
        position: relative;
        top: -40px;
        opacity: .85;
        height: 70px; } }

@media (max-width: 750px) {
  #Intro .sec_header h1 {
    font-size: 6em; } }

@media (max-width: 700px) {
  .sec_header {
    width: 100% !important; }
  #Intro .sec_header h1 {
    font-size: 5em;
    line-height: 90px; }
  #About .sec_wrapper .sec_content .profile-img img {
    bottom: 0px; } }

html, body {
  overflow: hidden;
  font-family: proxima-nova, sans-serif;
  font-style: normal; }

.section {
  width: 100vw;
  height: 100vh;
  display: inline-block; }

#Work, #Skills {
  background-color: #FDFDFD; }

#Work .sec_wrapper, #Skills .sec_wrapper {
  padding: 7%; }

#Work .sec_header, #Skills .sec_header {
  text-align: left;
  width: 600px; }

#Work .sec_content, #Skills .sec_content {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

#Work .sec_header h1, #Skills .sec_header h1, #About .sec_header h1 {
  font-weight: 900;
  font-size: 2.4em;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 3px solid;
  border-block-start-width: 1em;
  width: fit-content; }

#Work .sec_header .sub_header, #Skills .sec_header .sub_header {
  line-height: 30px; }

/*# sourceMappingURL=style.css.map */