@media screen and (min-width: 350px) {
  #Intro .sec_wrapper h1 {
    font-size: 3em !important;
    line-height: 70px !important; }
  #Skills .sec_wrapper .sec_content .tile-cont-mobile {
    left: -35px !important;
    transform: scale(1.2) rotate(-10deg) !important; } }

@media screen and (min-width: 370px) {
  #Intro .sec_wrapper h1 {
    font-size: 3.2em !important;
    line-height: 75px !important; }
  #Skills .sec_wrapper .sec_content .tile-cont-mobile {
    left: -25px !important; } }

@media screen and (min-width: 390px) {
  #Intro .sec_wrapper h1 {
    font-size: 3.6em !important;
    line-height: 80px !important; }
  #Skills .sec_wrapper .sec_content .tile-cont-mobile {
    left: -20px !important;
    transform: scale(1.4) rotate(-10deg) !important; } }

@media screen and (min-width: 410px) {
  #Intro .sec_wrapper h1 {
    font-size: 4em !important;
    line-height: 85px !important; } }

@media screen and (min-width: 510px) {
  #Intro .sec_wrapper h1 {
    font-size: 4em !important;
    line-height: 85px !important; }
  #About .sec_wrapper {
    background-position-x: 10em !important; } }

@media screen and (min-width: 600px) {
  #Intro .sec_wrapper, #Work .sec_wrapper, #Skills .sec_wrapper, #About .sec_wrapper {
    padding: 0 5% !important; }
    #Intro .sec_wrapper .sub_header, #Work .sec_wrapper .sub_header, #Skills .sec_wrapper .sub_header, #About .sec_wrapper .sub_header {
      max-width: 450px !important; }
  #Work .sec_header, #Skills .sec_header {
    width: 500px !important; }
    #Work .sec_header h1, #Skills .sec_header h1 {
      text-align: left !important;
      margin: 0 !important; }
    #Work .sec_header p, #Skills .sec_header p {
      text-align: left !important;
      margin: 20px 0 0 0 !important; }
  #Intro .sec_wrapper .sec_header h1 {
    font-size: 5em !important;
    line-height: 105px !important; }
  #Work .sec_wrapper .sec_content .portfolio_work .cards {
    justify-content: space-between !important; }
    #Work .sec_wrapper .sec_content .portfolio_work .cards .card {
      max-width: 260px !important; }
      #Work .sec_wrapper .sec_content .portfolio_work .cards .card .card__info {
        max-width: 220px !important; }
  #About .sec_wrapper {
    background-position-x: 12em !important; } }

@media screen and (min-width: 650px) {
  #Intro .sec_wrapper, #Work .sec_wrapper, #Skills .sec_wrapper, #About .sec_wrapper {
    padding: 0 7% !important; }
  #Intro .sec_wrapper .sec_header h1 {
    font-size: 6em !important;
    letter-spacing: 15px !important;
    line-height: 110px !important; }
  #About .sec_wrapper {
    background-size: contain !important;
    background-position-y: bottom !important;
    background-position-x: 14em !important; }
  #Work .sec_wrapper .sec_content .portfolio_work .cards {
    justify-content: space-around !important; } }

@media screen and (min-width: 750px) {
  #Intro .sec_wrapper, #Work .sec_wrapper, #Skills .sec_wrapper, #About .sec_wrapper {
    padding: 0 7% !important; }
  #Intro .sec_wrapper .sec_header h1 {
    font-size: 7em !important;
    letter-spacing: 15px !important;
    line-height: 110px !important; }
  #Work .sec_wrapper .sec_content .portfolio_work .cards {
    justify-content: space-between !important; }
    #Work .sec_wrapper .sec_content .portfolio_work .cards .card {
      max-width: 300px !important; }
      #Work .sec_wrapper .sec_content .portfolio_work .cards .card .card__info {
        max-width: 260px !important; }
  #About .sec_wrapper {
    background-position-x: 24em !important; } }

@media screen and (min-width: 850px) {
  #Work .sec_wrapper .sec_content .portfolio_work .cards .card {
    max-width: 350px !important; }
    #Work .sec_wrapper .sec_content .portfolio_work .cards .card .card__info {
      max-width: 310px !important; }
  #Skills .sec_wrapper .sec_content .skills .skill {
    margin: 25px 30px !important; } }

@media screen and (min-width: 950px) {
  #Skills .sec_wrapper .sec_content .skills .skill {
    margin: 25px 50px !important; } }

@media screen and (min-width: 1200px) {
  #Skills .sec_wrapper .sec_content .skills .skill {
    margin: 25px 0 !important; } }

@media screen and (min-width: 1300px) {
  #Work .sec_wrapper .sec_content .portfolio_work .cards .card {
    max-width: 350px !important; }
    #Work .sec_wrapper .sec_content .portfolio_work .cards .card .card__info {
      max-width: 310px !important; } }

html, body {
  overflow: hidden;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  height: 100vh; }

.icon {
  width: 35px; }

.tile {
  width: 85px;
  height: 85px; }

.profile {
  width: 200px; }

ul {
  list-style-type: none;
  padding: 0; }

#Intro, #Work, #Skills, #About {
  overflow-x: hidden; }
  #Intro .sec_wrapper, #Work .sec_wrapper, #Skills .sec_wrapper, #About .sec_wrapper {
    padding: 0 20px; }
    #Intro .sec_wrapper .sec_header h1, #Work .sec_wrapper .sec_header h1, #Skills .sec_wrapper .sec_header h1, #About .sec_wrapper .sec_header h1 {
      font-weight: 900;
      font-size: 2.5em;
      border-bottom: 3px solid #fff;
      width: fit-content; }
    #Intro .sec_wrapper .sec_header .sub_header, #Work .sec_wrapper .sec_header .sub_header, #Skills .sec_wrapper .sec_header .sub_header, #About .sec_wrapper .sec_header .sub_header {
      line-height: 30px;
      max-width: 350px; }

#Intro {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%); }

#About {
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%); }

#Work, #Skills {
  background-color: #2c2e35 !important;
  color: #ffffff; }
  #Work .sec_wrapper .sec_header h1, #Work .sec_wrapper .sec_header p, #Skills .sec_wrapper .sec_header h1, #Skills .sec_wrapper .sec_header p {
    text-align: center;
    margin: 0 auto; }

#Work .sec_wrapper .sec_header, #Skills .sec_wrapper .sec_header {
  margin-top: 100px;
  margin-bottom: 50px; }

#Work .sec_wrapper .sec_content, #Skills .sec_wrapper .sec_content {
  margin-bottom: 200px; }

#Intro .sec_wrapper .sec_header h1 {
  text-shadow: -5px 10px 11px rgba(0, 0, 0, 0.6);
  font-size: 2.7em;
  border-bottom: none;
  color: #fff;
  margin: 0;
  line-height: 65px;
  letter-spacing: 11px; }

#Intro .sec_wrapper .sec_header .sub_header {
  font-size: 1.1em;
  color: #fff;
  line-height: 30px;
  margin-bottom: 0; }

#Intro .sec_wrapper .name-cont {
  font-size: 1.1em;
  color: #fff;
  letter-spacing: 5px; }

#Work .sec_wrapper .sec_header {
  margin-top: 100px; }

#Work .sec_wrapper .sec_content {
  margin-bottom: 100px; }
  #Work .sec_wrapper .sec_content .portfolio_work .cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center; }
  #Work .sec_wrapper .sec_content .card__img {
    display: none;
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 155px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
  #Work .sec_wrapper .sec_content .card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0; }
  #Work .sec_wrapper .sec_content .card__img--hover {
    display: block;
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 155px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 0; }
  #Work .sec_wrapper .sec_content .card {
    margin-bottom: 25px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #33363E;
    width: 100%;
    max-width: 380px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; }
  #Work .sec_wrapper .sec_content .card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05); }
  #Work .sec_wrapper .sec_content .card__info {
    z-index: 2;
    background-color: #33363E;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: fit-content;
    max-width: 340px;
    color: #ffffff;
    padding: 10px 20px 20px 20px; }
  #Work .sec_wrapper .sec_content .card__info a {
    height: 20px;
    width: 20px;
    float: right;
    margin: 5px 5px 0 5px; }
  #Work .sec_wrapper .sec_content .card__info a img {
    width: 20px;
    height: 20px; }
  #Work .sec_wrapper .sec_content .card__description {
    font-size: .9em;
    font-weight: 500;
    line-height: 18px;
    color: #fff;
    display: block;
    margin-top: 5px; }
  #Work .sec_wrapper .sec_content .card__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 1.3em;
    width: fit-content;
    display: inline-block;
    color: #fff; }
  #Work .sec_wrapper .sec_content .card .card__img--hover {
    height: 100%;
    opacity: 0.3; }
  #Work .sec_wrapper .sec_content .card .card__info {
    background-color: transparent;
    position: relative; }
  #Work .sec_wrapper .sec_content .card .card__info-hover {
    opacity: 1; }

#Skills .sec_wrapper .sec_header {
  margin-bottom: 100px; }

#Skills .sec_wrapper .sec_content .tile-cont-mobile {
  position: relative;
  top: 50px;
  left: -60px;
  transform: scale(1.1) rotate(-10deg);
  width: 400px;
  text-align: center; }

#Skills .sec_wrapper .sec_content .skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 75px; }
  #Skills .sec_wrapper .sec_content .skills .skill {
    max-width: 350px;
    margin: 25px 30px 0 30px; }
    #Skills .sec_wrapper .sec_content .skills .skill h3 {
      letter-spacing: 3px;
      font-weight: 600;
      width: fit-content;
      font-size: 1.4em; }
    #Skills .sec_wrapper .sec_content .skills .skill .skills-cont {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap; }
      #Skills .sec_wrapper .sec_content .skills .skill .skills-cont img {
        margin: 10px; }

#About:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .4;
  display: block;
  top: 0; }

#About .sec_wrapper {
  background-image: url("/images/profile/profile_nobg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: 4em;
  background-size: cover; }
  #About .sec_wrapper .sec_header {
    top: 50px;
    position: absolute;
    z-index: 1;
    color: #ffffff; }
    #About .sec_wrapper .sec_header h1 {
      border-bottom: 3px solid #ffffff;
      margin-top: 0; }
    #About .sec_wrapper .sec_header .sub_header {
      font-size: 1.5em;
      font-weight: 900;
      width: 280px; }
    #About .sec_wrapper .sec_header .about_me {
      max-width: 400px; }
      #About .sec_wrapper .sec_header .about_me p {
        line-height: 35px; }
      #About .sec_wrapper .sec_header .about_me button {
        background-color: #000;
        font-size: 1.6em;
        color: #ffffff;
        padding: 6px 10px;
        font-weight: 600;
        border-radius: 4px;
        border: none; }
        #About .sec_wrapper .sec_header .about_me button a {
          color: #ffffff; }
          #About .sec_wrapper .sec_header .about_me button a:visited {
            color: inherit; }
      #About .sec_wrapper .sec_header .about_me ul li {
        display: inline-block;
        margin-right: 10px;
        width: 35px; }
  #About .sec_wrapper .sec_content {
    position: absolute;
    z-index: -1;
    bottom: -10px; }
    #About .sec_wrapper .sec_content div img {
      width: 160%; }

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spin-left {
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

/*# sourceMappingURL=style.css.map */