@media (min-width: 350px) {
  #Intro .sec_wrapper h1 {
    font-size: 3em !important;
    line-height: 70px !important; }
  #Skills .sec_wrapper .sec_content .tile-cont-mobile {
    left: -35px !important;
    transform: scale(1.2) rotate(-10deg) !important; } }

@media (min-width: 370px) {
  #Intro .sec_wrapper h1 {
    font-size: 3.2em !important;
    line-height: 75px !important; }
  #Skills .sec_wrapper .sec_content .tile-cont-mobile {
    left: -25px !important; } }

@media (min-width: 390px) {
  #Intro .sec_wrapper h1 {
    font-size: 3.6em !important;
    line-height: 80px !important; }
  #Skills .sec_wrapper .sec_content .tile-cont-mobile {
    left: -20px !important;
    transform: scale(1.4) rotate(-10deg) !important; } }

@media (min-width: 410px) {
  #Intro .sec_wrapper h1 {
    font-size: 4em !important;
    line-height: 85px !important; } }

html, body {
  overflow: hidden;
  font-family: proxima-nova, sans-serif;
  font-style: normal; }

.icon {
  width: 25px; }

.tile {
  width: 65px; }

.profile {
  width: 200px; }

ul {
  list-style-type: none;
  padding: 0; }

#Intro, #Work, #Skills, #About {
  overflow-x: hidden; }
  #Intro .sec_wrapper, #Work .sec_wrapper, #Skills .sec_wrapper, #About .sec_wrapper {
    padding: 0 20px; }
    #Intro .sec_wrapper .sec_header h1, #Work .sec_wrapper .sec_header h1, #Skills .sec_wrapper .sec_header h1, #About .sec_wrapper .sec_header h1 {
      font-weight: 900;
      font-size: 2.5em;
      border-bottom: 3px solid #000;
      width: fit-content; }
    #Intro .sec_wrapper .sec_header .sub_header, #Work .sec_wrapper .sec_header .sub_header, #Skills .sec_wrapper .sec_header .sub_header, #About .sec_wrapper .sec_header .sub_header {
      line-height: 30px;
      max-width: 350px; }

#Intro, #About {
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%); }

#Intro .sec_wrapper .sec_header h1 {
  text-shadow: -5px 10px 11px rgba(0, 0, 0, 0.6);
  font-size: 2.7em;
  border-bottom: none;
  color: #fff;
  margin: 0;
  line-height: 65px;
  letter-spacing: 11px; }

#Intro .sec_wrapper .sec_header .sub_header {
  font-size: 1.1em;
  color: #fff;
  line-height: 30px;
  margin-bottom: 0; }

#Intro .sec_wrapper .name-cont {
  font-size: 1.1em;
  color: #fff;
  letter-spacing: 5px; }

#Work .sec_wrapper .sec_header {
  margin-top: 100px; }

#Work .sec_wrapper .sec_content {
  margin-bottom: 100px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center; }
  #Work .sec_wrapper .sec_content .portfolio_work .cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center; }
  #Work .sec_wrapper .sec_content .card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 155px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; }
  #Work .sec_wrapper .sec_content .card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0; }
  #Work .sec_wrapper .sec_content .card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 155px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    top: 0; }
  #Work .sec_wrapper .sec_content .card {
    margin-bottom: 25px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; }
  #Work .sec_wrapper .sec_content .card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05); }
  #Work .sec_wrapper .sec_content .card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 80px;
    width: 90%; }
  #Work .sec_wrapper .sec_content .card__info a {
    height: 20px;
    float: right;
    margin: 25px 5px 0 5px; }
  #Work .sec_wrapper .sec_content .card__info a img {
    width: 20px;
    height: 20px; }
  #Work .sec_wrapper .sec_content .card__description {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #000;
    display: none; }
  #Work .sec_wrapper .sec_content .card__title {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
    font-weight: 900;
    font-size: 1.3em;
    border-bottom: 2px solid #000;
    width: fit-content;
    display: inline-block;
    color: #000; }
  #Work .sec_wrapper .sec_content .card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3; }
  #Work .sec_wrapper .sec_content .card:hover .card__info {
    background-color: transparent;
    position: relative; }
  #Work .sec_wrapper .sec_content .card:hover .card__info-hover {
    opacity: 1; }

#Skills .sec_wrapper .sec_header {
  margin-bottom: 100px; }

#Skills .sec_wrapper .sec_content .tile-cont-mobile {
  position: relative;
  top: 50px;
  left: -60px;
  transform: scale(1.1) rotate(-10deg);
  width: 400px;
  text-align: center; }

#Skills .sec_wrapper .sec_content .skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 75px; }
  #Skills .sec_wrapper .sec_content .skills div {
    text-align: center;
    margin-top: 25px;
    width: 130px; }
    #Skills .sec_wrapper .sec_content .skills div .tiles-cont {
      width: 150px;
      height: 100px; }
    #Skills .sec_wrapper .sec_content .skills div h3 {
      margin: 10px auto;
      font-weight: 600;
      width: fit-content;
      border-bottom: 2px solid #000; }
    #Skills .sec_wrapper .sec_content .skills div ul li {
      line-height: 22px;
      text-transform: uppercase; }

#About .sec_wrapper .sec_header {
  top: 100px;
  position: absolute;
  z-index: 1;
  color: #ffffff; }
  #About .sec_wrapper .sec_header h1 {
    border-bottom: 3px solid #ffffff; }
  #About .sec_wrapper .sec_header .sub_header {
    font-size: 1.5em;
    font-weight: 900;
    width: 280px; }
  #About .sec_wrapper .sec_header .about_me p {
    line-height: 35px;
    width: 280px; }
  #About .sec_wrapper .sec_header .about_me button {
    background-color: #000;
    font-size: 1.6em;
    color: #ffffff;
    padding: 6px 10px;
    font-weight: 600;
    border-radius: 4px;
    border: none; }
  #About .sec_wrapper .sec_header .about_me ul li {
    display: inline-block;
    margin-right: 10px; }

#About .sec_wrapper .sec_content {
  position: absolute;
  z-index: -1;
  top: 160px; }
  #About .sec_wrapper .sec_content div img {
    width: 160%; }

/*# sourceMappingURL=style.css.map */